{% extends "_layout_main.html" %}

{% block content %}

    <div class="card">
        <div class="card-header">
            <h5 class="card-title">Excluindo a Alternativa: {{object.id}}</h5>
        </div>
    </div>

    <div class="card-body">
        <form method="post">
            {% csrf_token %}
            <h6> Voce Tem certeza que quer excluir a alternativa abaixo? </h6>
            <p>{{object.question_text}}</p>
            <button type="submit" class="btn btn-danger"> Confirmar</button>
            <a href={% url 'choice_edit' pk=object.question.id %} class="link-secundary"> Cancelar </a>
        </form>
    </div>


{% endblock %}